#define RT_MANIFEST 24
1 RT_MANIFEST "app.manifest"

1 VERSIONINFO
FILEVERSION    {FILEVERSION}
PRODUCTVERSION 0,0,0,0
FILEFLAGS 0x1L
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x1L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080904E4"
        BEGIN
            VALUE "CompanyName", "Lenovo"
            VALUE "FileDescription", "Lenovo ThinkBook Eink Service"
            VALUE "FileVersion", "6000"
            VALUE "InternalName", "eink-service"
            VALUE "LegalCopyright", "Lenovo Copyright"
            VALUE "LegalTrademarks", "Lenovo ThinkBook"
            VALUE "OriginalFilename", "eink-service.exe"
            VALUE "ProductName", "ThinkBook Eink Plus"
            VALUE "ProductVersion", "{PRODUCTVERSION}"
        END
   END
   BLOCK "VarFileInfo"
   BEGIN
      VALUE "Translation", 0x809, 1252
   END
END